<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Seed</title>
    <link rel="stylesheet" href="../shared/bootstrap.min.css" />
    <link rel="stylesheet" href="../shared/main.css" />
  </head>
  <body class="login" id="topo">
    <main class="form-signin w-100 m-auto">
      <form>
        <h1 class="h3 mb-3 fw-normal">Faça seu login</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">E-mail</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Senha</label>
        </div>

        <div class="checkbox mb-3">
          <label> <input type="checkbox" value="remember-me" /> Lembrar </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="button" onclick="goToHome()">
          Entrar
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; Seed</p>
      </form>
    </main>

    <script src="../core/js/main..js"></script>
    <script src="../core/vendor/bootstrap.bundle.min.js"></script>
  </body>
</html>
